# Build and Release Folders
*__pycache__/
*.ipynb_checkpoints/

# dataset
# dataset/
*.csv
*.png
*.json

# Other files and folders
.vscode/
*logs/

# Executables
*.swf
*.air
*.ipa
*.apk
*.pyc
*.ipynb_checkpoints/


model*
!model_best.pkl

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
